.logo {
  font-size: 16px;
  line-height: 24px;
  color: #0076a7;
  font-style: normal;
  font-weight: 600;
}

.about {
  color: #222222;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.bg {
  background-image: url('./assets/f7ef19b714981dfec48d0c56addb77a7.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-paper,
.register {
  height: 100vh;
}
.bg-paper div {
  width: 544px;
  height: 495px;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 8px;
}
.bg-paper div h1 {
  font-style: bold;
  font-size: 24px;
  line-height: 24px;
  color: #0076a7;
}
.bg-paper div p {
  font-style: regular;
  font-size: 16px;
  line-height: 24px;
  color: #8e8e8e;
  width: 348px;
  margin: 0 auto;
}
.btnA {
  width: 400px;
  height: 62px;
  margin: 0 auto;
  background-color: #0076a7;
  color: #ffffff;
  border: none;
  border-radius: 8px;
}
.btnB {
  width: 400px;
  height: 62px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #0076a7;
  border: 1px solid #0076a7;
  border-radius: 8px;
}

.register .layout {
  width: 544px;
  height: 699px;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 50px;
}
.styleinput {
  border: 1px solid #0076a7;
  color: #0076a7;
}
.styleinput::placeholder {
  color: #0076a7 !important;
}
